
.background{
    background-image: url("https://images.unsplash.com/photo-1611128371650-fea6baac63ab?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1889&q=80");
    background-position: center;
    height: 625px;
    background-repeat: no-repeat;
 background-size: cover;
}

.rectangle {
    height: 400px;
    /* width: 500px; */
    width: 50%;
    padding: 50px;
    position:absolute;
    left: 25%;    
    top: 10%;
    background-color:white;
    border-radius: 2px;
    
  }
