.rectangle {
    height: 400px;
    /* width: 500px; */
    width: 800px;    
    padding: 20px;         
    top: 15%;
    background-color:#1CC8EE;
    border-radius: 10px;
    
  }
  .Grid-main-blue{
    background-color:#1CC8EE;
    
    border-radius: 10px;
  }
  .Grid-main-purple{
    background-color:#C474EA;    
    border-radius: 10px;
  }
 .root{
   min-width: 275;
   /* minWidth: 275, */
}
.bullet{
  /* display: 'inline-block', */
  
    margin: '0 2px',
    /* transform: 'scale(0.8)', */
}
.title{
  font-size:24 ;
    
}
.pos{
  margin-bottom: 12;
    /* marginBottom: 12, */
}
.table{
  min-width: 650;
  background-color: white;
    /* minWidth: 650, */
}
.background{
  background-image: url('../../../img/backgrounds/B1.png');
  background-position: center;
  height: 625px;
  background-repeat: no-repeat;
background-size: cover;
}
.background1{
  background-image: url('../../../img/backgrounds/B2.png');
  background-position: center;
  height: 625px;
  background-repeat: no-repeat;
background-size: cover;
}

/* const useStyles = makeStyles({
  root: {
      minWidth: 275,
  },
  bullet: {
      display: 'inline-block',
      margin: '0 2px',
      transform: 'scale(0.8)',
  },
  title: {
      fontSize: 24,
  },
  pos: {
      marginBottom: 12,
  },
}); */